<% content_for(:title) { @first_message.subject } %>

<header>
  <h1>
    <small><a href="/" class="back-to-site"></a></small>
    <%= link_to(@first_message.subject, @first_message.permalink) %>
  </h1>
</header>

<% @thread.each do |message| -%>
  <article class="message">
    <h4>
      <span class="sender"><%= message.sender_display_name %></span>
      <span class="recipient"><%= message.recipient_display_name %></span>
      <small><%= time_ago_in_words(message.created_at) %> ago</small>
    </h4>

    <%= markdown(message.body).html_safe %>
  </article>
<% end -%>
