%nav(pi-nav)
  %ul
    - if logged_in?
      %li= link_to('Inbox', '#inbox')
      %li= link_to('Compose', '#compose')
      %li= link_to('Outbox', '#outbox')
      %li= link_to('Profile', '#profile')
      %li= link_to('About', '#about')
      %li= link_to('Log out', logout_path)
    - else
      %li= link_to('About', '#about')
      %li= link_to('Log in', login_path)
