%nav(class="{{nav.state}}")
  %ul
    %li
      = link_to('/ui/mailbox') do
        Mailbox
        %span.unread-count {{(messages | filter:{opened:false}).length || ''}}
    %li= link_to('Compose', '/ui/compose')
    %li= link_to('Profile', '/ui/profile')
    %li= link_to('Blog', blog_index_path, :target => '_self')
    %li= link_to('Log out', logout_path, :target => '_self')

%button.expand-nav(ng-click="revealNav()")
