<footer>
  <p>
    PublicInbox is built on
    <%= link_to('Rails', 'http://rubyonrails.org/') %> and
    <%= link_to('AngularJS', 'http://angularjs.org/') %>, using
    <%= link_to('Mailgun', 'http://www.mailgun.com/') %> and
    <%= link_to('Pusher', 'http://pusher.com/') %>.
  </p>
  <p>
    Hosted on
    <%= link_to('Heroku', 'http://www.heroku.com/') %>.
  </p>
</footer>
