<section id="compose" data-title="Compose" ng-show="isActiveSection('compose')">
  <form ng-submit="sendMessage(draft)">
    <div class="field">
      <%= label_tag(:recipient_email) %>
      <%= text_field_tag(:recipient_email, nil, 'ng-model' => 'draft.recipient_email') %>
    </div>

    <div class="field">
      <%= label_tag(:subject) %>
      <%= text_field(:subject, nil, 'ng-model' => 'draft.subject') %>
    </div>

    <div class="field">
      <%= label_tag(:body) %>
      <%= text_area_tag(:body, nil, 'ng-model' => 'draft.body') %>
    </div>

    <div class="field">
      <%= submit_tag('Send') %>
    </div>
  </form>
</section>
