<section id="profile">
  <header>
    <h1>Profile</h1>
  </header>

  <div class="info" ng-show="!editing">
    <h2 class="user-name">
      <img ng-src="{{user.profile_image}}" />
      {{user.user_name}}
      <small class="member-for">Member for {{user.created_at}}</small>
    </h2>

    <p class="real-name">{{user.real_name}}</p>

    <p class="external-email">{{user.external_email}}</p>

    <article class="bio" ng-bind-html="user.bio"></article>

    <button ng-click="ctrl.editProfile()">Edit Profile</button>
  </div>

  <div class="external-accounts">
    <h3>External accounts (click to link)</h3>

    <ul class="identity-list">
      <li><%= link_to('Google', '/auth/google_oauth2', :class => 'login-button', 'data-identity-linked' => current_user.has_identity?('google_oauth2')) %></li>
      <li><%= link_to('Facebook', '/auth/facebook', :class => 'login-button', 'data-identity-linked' => current_user.has_identity?('facebook')) %></li>
      <li><%= link_to('Twitter', '/auth/twitter', :class => 'login-button', 'data-identity-linked' => current_user.has_identity?('twitter')) %></li>
    </ul>
  </div>

  <%= form_for(current_user, :html => { 'ng-show' => 'editing' }) do |f| %>
    <div class="field">
      <%= f.label(:user_name) %>
      <%= f.text_field(:user_name) %>
    </div>

    <div class="field">
      <%= f.label(:real_name) %>
      <%= f.text_field(:real_name) %>
    </div>

    <div class="field">
      <%= f.label(:external_email) %>
      <%= f.text_field(:external_email) %>
    </div>

    <div class="field">
      <%= f.label(:bio) %>
      <%= f.text_area(:bio, 'pi-editor' => '{ "lineWrapping": true }') %>
    </div>

    <div class="field">
      <%= f.submit('Update Profile') %>
      <%= button_tag('Cancel', 'ng-click' => 'ctrl.cancelEdit($event)') %>
    </div>
  <% end %>

</section>
