<section id="profile" data-title="Profile" ng-show="isActiveSection('profile')">
  <%= form_for(current_user) do |f| %>
    <div class="field">
      <%= f.label(:real_name) %>
      <%= f.text_field(:real_name) %>
    </div>

    <div class="field">
      <%= f.label(:bio) %>
      <%= f.text_area(:bio, 'pi-editor' => true) %>
    </div>

    <div class="field">
      <%= f.submit('Update Profile') %>
    </div>
  <% end %>
</section>
