<%= render(:partial => 'mailbox') %>
<%= render(:partial => 'compose') %>
<%= render(:partial => 'message') %>
<%= render(:partial => 'profile') %>

<section id="about" data-title="Public<em>Inbox</em>" ng-show="isActiveSection('about')">
  <%= site_about %>
</section>
