<div ng-controller="MessagesCtrl" pi-handle-mailtos>
  <%= render(:partial => 'inbox') %>
  <%= render(:partial => 'compose') %>
  <%= render(:partial => 'outbox') %>
  <%= render(:partial => 'message') %>
</div>

<%= render(:partial => 'profile') %>

<section id="about" data-title="Public<em>Inbox</em>" ng-show="isActiveSection('about')">
  <%= site_about %>
</section>
