<div ng-controller="MessagesCtrl">
  <%= render(:partial => 'inbox') %>
  <%= render(:partial => 'compose') %>
  <%= render(:partial => 'outbox') %>
  <%= render(:partial => 'message') %>
</div>

<%= render(:partial => 'profile') %>

<section id="about" data-title="About" ng-show="isActiveSection('about')">
  <p>This is just a random idea I had, which I am trying out for fun. Consider it a very tenuous work in progress.</p>
  <p>To reach me (Dan) at a more reliable e-mail address (!), try <a href="mailto:daniel.tao@gmail.com">daniel.tao@gmail.com</a>.</p>
</section>
