= form_for(@user, :url => login_path) do |f|
  %fieldset
    %legend Log in

    .field
      = f.label(:user_name)
      = f.text_field(:user_name)

    .field
      = f.label(:password)
      = f.password_field(:password)

    .field
      = f.submit('Log in')
      or
      = link_to('Register', register_path)
