<header>
  <h1><a href="/">Public<em>Inbox</em></a></h1>
</header>

<%= form_for(@user, :url => register_path) do |f| -%>
  <fieldset>
    <legend>Register a new account</legend>

    <div class="field">
      <%= f.label(:user_name) %>
      <%= f.text_field(:user_name) %>
    </div>

    <div class="field">
      <%= f.label(:real_name) %>
      <%= f.text_field(:real_name) %>
    </div>

    <div class="field">
      <%= f.label(:password) %>
      <%= f.password_field(:password) %>
    </div>

    <div class="field">
      <%= f.label(:password_confirmation) %>
      <%= f.password_field(:password_confirmation) %>
    </div>

    <div class="field">
      <%= f.submit('Register') %>
    </div>

    <div class="field">
      <p>Already have an account? <%= link_to('Log in', login_path) %>!</p>
    </div>
  </fieldset>
<% end -%>
