<%= render(:partial => 'mailbox') %>
<%= render(:partial => 'compose') %>
<%= render(:partial => 'thread') %>
<%= render(:partial => 'profile') %>

<section id="about" ng-show="isActiveSection('about')">
  <header>
    <h1>Public<em>Inbox</em></h1>
  </header>

  <%= site_about %>
</section>
