<!DOCTYPE html>
<html ng-app="publicInboxApp">
  <head>
    <title>PublicInbox</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <%= stylesheet_link_tag("application") %>
    <%= yield(:extra_stylesheets) if content_for?(:extra_stylesheets) %>
    <%= favicon_link_tag %>
    <%= javascript_include_tag("//code.jquery.com/jquery-1.10.2.min.js") %>
    <%= javascript_include_tag("//code.angularjs.org/1.2.8/angular.min.js") %>
    <%= javascript_include_tag("//code.angularjs.org/1.2.8/angular-sanitize.min.js") %>
    <%= javascript_include_tag("application") %>
    <%= yield(:extra_javascripts) if content_for?(:extra_javascripts) %>
  </head>

  <body
    data-page="<%= "#{params[:controller]}-#{params[:action]}" %>"
    data-state="{{app.state}}"
    ng-controller="MainCtrl">

    <%= nav_menu %>

    <main ng-click="hideNav()" pi-navigable-sections>
      <header>
        <h1 ng-bind-html="title"></h1>
      </header>

      <%= yield %>
    </main>

    <%= site_footer %>

    <div
      id="notice"
      class="{{notice.style}}"
      ng-bind="notice.message"
      ng-init="notice.message = '<%= flash[:notice] %>'; notice.style = '<%= flash[:style] || 'info' %>'"
      data-state="{{notice.state}}">
    </div>

  </body>
</html>
